extends layout/main
include ../blocks/mixins/mixins
include ../blocks/header/header
include ../blocks/act/act
include ../blocks/advantages/advantages
include ../blocks/partners/partners
include ../blocks/test/test
include ../blocks/team/team
include ../blocks/catalog/catalog
include ../blocks/reviews-partners/reviews-partners
include ../blocks/reviews/reviews
include ../blocks/footer/footer


block title
	title Grand Prix
block pagecontent
	+header()
	+act('1')
	+advantages()
	+partners()
	+test()
	+team()
	+catalog()
	+reviews-partners()
	+reviews()
	+act('2')
	+footer()






