extends layout/main
include ../blocks/act/act
include ../blocks/advantages/advantages
include ../blocks/partners/partners
include ../blocks/test/test
include ../blocks/team/team
include ../blocks/catalog/catalog
include ../blocks/reviews-partners/reviews-partners
include ../blocks/reviews/reviews
include ../blocks/footer/footer


block title
	title Grand Prix
block pagecontent
	+b.HEADER.header
		+e.wrapper.container
			+e.A.logo-link
				+e.IMG.logo(src='img/logo.svg' width='102')
			+b.NAV.main-nav
				+e.BUTTON.toggle
					span
				+e.UL.list
					+e.LI.item
						+e.A.link почему мы
					+e.LI.item
						+e.A.link партнеры
					+e.LI.item
						+e.A.link команда
					+e.LI.item
						+e.A.link каталог
					+e.LI.item
						+e.A.link условия сотрудничества
			+e.contacts
				+e.A.tel(href='tel:88001234567') 8 800 123 45 67
				+e.A.callback(href='#callback') Заказать обратный звонок
	+act()
	+advantages()
	+partners()
	+test()
	+team()
	+catalog()
	+reviews-partners()
	+reviews()
	+act()
	+footer()






