mixin input-mail(id)
	+e.LABEL.label(for='mail' + id)
		+icon('mail')
	+e.INPUT.input(type='email' placeholder='Введите Ваш e-mail' id='mail' + id)

mixin input-phone(id)
	+e.LABEL.label--phone(for='phone' + id)
		+icon('phone')
	+e.INPUT.input(type='tel' id='phone' + id)

mixin act(id)
	+b.SECTION.act
		+e.wrapper.container
			+e.pets-wrapper
				+e.IMG.pets(src='img/header-pet.png')
			+e.H3.title Получите 1-ю партию корма для животных
				|
				span.select  супер-премиум класса
				|  российского производства на особых условиях
			+e.UL.list
				+e.item Маржинальность до 100%
				+e.item Собственное производство в РФ
				+e.item Бесплатная доставка от 1 дня
				+e.item Для магазинов, питомников, <br> заводчиков, оптовиков
			+b.form
				+e.H4.title Заполните форму и получите
					span.select  оптовый прайс-лист
					|  нашей продукции
				form
					+e.wrapper
						+e.item
							+input-mail(id)
						+e.item
							+input-phone(id)
						+e.BUTTON.btn.btn Получить прайс-лист
						+e.P.agreement Нажимая на кнопку, Вы соглашаетесь с условиями политики конфиденциальности
