include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })


doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="о чем страница")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=750, shrink-to-fit=no")
		//meta(property='og:image', content='path/to/image.jpg')
		//link(rel='shortcut icon',   type="image/png",  href='img/favicon/favicon.png')

		// Custom Browsers Color
		meta(name='theme-color', content='#b9a783')
		link(rel="stylesheet", type="text/css", href="css/style.min.css")
		script(defer type="text/javascript", src="js/jQuery.js")
		script(defer type="text/javascript", src="js/slick.js")
		script(defer type="text/javascript", src="js/main.js")

	body
		block pagecontent

