mixin main-nav()
	+b.NAV.main-nav
		+e.BUTTON.toggle
			span
		+e.UL.list
			+e.LI.item
				+e.A.link(href='#advantages') почему мы
			+e.LI.item
				+e.A.link(href='#partners') партнеры
			+e.LI.item
				+e.A.link(href='#team') команда
			+e.LI.item
				+e.A.link(href='#catalog') каталог
			+e.LI.item
				+e.A.link(href='#') условия сотрудничества
