mixin team()
	+b.SECTION.team#team
		+e.wrapper.container
			+e.H2.title
				span.select  Люди
				| , которые создают продукт GRAND PRIX
			+b.team-gallery
				mixin galleryItem(img, userName, post, pet)
					+e.item
						+e.img-wrapper
							+e.img(src='img/team/team-' + img + '.jpg' alt='team-' + img )
						+e.H5.name= userName
						+e.post= post
						+e.pet= pet
				+galleryItem('1', 'Анна Андрианова', 'Менеджер по работе с ключевыми клиентами', 'Питомец: Пес Бамси')
				+galleryItem('2', 'Вячеслав Пономарев', 'Менеджер по продажам', 'Питомец: Собака')
				+galleryItem('3', 'Павел Юшков', 'Менеджер по продажам', 'Питомец: Кошка Ося')
				+galleryItem('4', 'Виктор Аржаев', 'Менеджер по продажам', 'Питомец: Собака Адель')
				+galleryItem('5', 'Елизавета Смирнова', 'Менеджер по продажам', 'Питомец: Кот Степан')
				+galleryItem('6', 'Николай Рябиков', 'Супервайзер', 'Питомец: Собака Лэсси')
				+galleryItem('7', 'Елена Астахова', 'Менеджер по продажам', 'Питомец: Пес Тэди')
				+galleryItem('8', 'Алевтина Матросова', 'Технолог', 'Питомец: Кот Маркиз')
				+galleryItem('9', 'Екатерина Хайрулина', 'Региональный менеджер', 'Питомец: Кошка Кася')
				+galleryItem('10', 'Юлия Сухова', 'Руководитель коммерческого отдела', 'Питомец: Пес Зигги')
				+galleryItem('11', 'Александра Вольфовская', 'Администратор социальных сетей', 'Питомец: Пес Алекс')
