.team {
  margin-bottom: 140px;

  .slick-track,
  .slick-list {
    overflow: visible;
  }

  @include media-breakpoint-up(md){
    &__title{
      text-align: center;
      margin-bottom: 50px;
    }
  }

  @include media-breakpoint-up(md){
    &__title{
      font-size: 50px;
      line-height: 62px;
      margin-bottom: 75px;
    }
    .slick-track,
    .slick-list {
      overflow: visible;
    }
  }
  @include media-breakpoint-up(xl){
    margin-bottom: 224px;
  }
}

.team-gallery {
  &__img-wrapper {
    margin-bottom: 34px;
  }

  &__item{
    margin-bottom: 20px;
    margin-left: 7px;
    margin-right: 7px;
    opacity: .5;
    &.slick-active{
      opacity: 1;
    }
  }

  &__name {
    font-family: AGAvalancheC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 3px;
  }

  &__post {
    font-family: AGAvalancheC;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 3px;
  }

  &__pet {
    font-family: AGAvalancheC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    color: $accent-color;
  }
  &__img{
    width: 100%;
  }
  @include media-breakpoint-up(md){
    &__item{
      width: 387px;
    }
  }
  @include media-breakpoint-up(xl){
    &__img-wrapper{
      margin-bottom: 26px;
    }
    &__name {
      font-size: 24px;
      line-height: 160%;
      margin-bottom: 8px;
    }
    &__post{
      font-size: 16px;
      line-height: 160%;
      font-style: italic;
      margin-bottom: 8px;
    }
    &__pet{
      font-size: 18px;
      line-height: 160%;
    }
  }
}
