.reviews-partners{
  margin-bottom: 120px;
  &__title{
    margin-bottom: 39px;
  }
  &__item{
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 30px;
    opacity: .7;
    &.slick-active{
      opacity: 1;
    }
  }
  .slick-track,
  .slick-list {
    overflow: visible;
  }
  @include media-breakpoint-up(xl){
    padding-top: 93px;
    background: linear-gradient(180deg, #121212 0%, #2E3042 100%);
    margin-bottom: 312px;
    &__title{
      font-size: 50px;
      line-height: 62px;
      margin-bottom: 109px;
    }
    &__item{
      margin-bottom: 0;
    }
    .slick-dots{
      bottom: -88px;
    }
  }
}
