mixin radioBtn(name, value, checked)
	+b.radio
		+e.INPUT.input(type='radio' name= name id= value value= value  checked= checked)= value
		+e.LABEL.label(for= value)= value

mixin inputText(name, placeholder)
	+b.input-item
		+e.LABEL.label(for= name )
		+e.INPUT.input(type='text' id= name name=name  placeholder= placeholder )

mixin quiz()
	+b.SECTION.quiz#popup-quiz.mfp-hide.white-popup-block.container
		form(action="send4.php" method="post")
			+e.wrapper
				+e.step--one.quiz__step--active
					+e.H3.title Вы являетесь:
					+e.answers
						+radioBtn('whoAreYou', 'Представителем магазина', 'checked')
						+radioBtn('whoAreYou', 'Представителем ветеринарной клиники')
						+radioBtn('whoAreYou', 'Заводчиком')
						+radioBtn('whoAreYou', 'Дистрибьютором')
						+radioBtn('whoAreYou', 'Частным лицом')
				+e.step--two
					+e.H3.title Вы ищите корм для:
					+e.answers
						+radioBtn('pet', 'Для кошек', 'checked')
						+radioBtn('pet', 'Для собак')
						+radioBtn('pet', 'Для кошек и собак')
				+e.step--three
					+e.H3.title Какой вид корма Вас интересует:
					+e.answers
						+radioBtn('type', 'Сухой корм', 'checked')
						+radioBtn('type', 'Влажный корм/консервированный корм')
						+radioBtn('type', 'Оба вида')
				+e.step--four
					+e.H3.title Что для Вас важно в сотрудничестве с поставщиком корма?
					+e.answers
						+b.text-area
							+e.TEXTAREA.input(placeholder='Введите текст' name='question')
				+e.step--five
					+e.H3.title Какую партию корма вы готовы заказать на начальном этапе?
					+e.answers
						+radioBtn('batch', 'Упаковку сухого корма/ паучей/ консервов на пробу', 'checked')
						+radioBtn('batch', 'Около 100 кг')
						+radioBtn('batch', 'Около 1 тонны')
						+radioBtn('batch', 'Фура')
				+e.step--six
					+e.H3.title Данные для связи
					+e.answers
						+e.input-wrapper
							+inputText("userName", 'Ф.И.О')
						.popup-callback__item
							label.popup-callback__label(for='mailQuiz')
								+icon('mail')
							input.popup-callback__input(type='email' name='email' placeholder='Введите Ваш e-mail' id='mailQuiz' required)
						.popup-callback__item
							label.popup-callback__label.popup-callback__label--phone(for='phoneQuiz')
								+icon('phone')
							input.popup-callback__input(type='tel' name='phone' id='phoneQuiz' required)
				+e.nav-wrapper
					+e.BUTTON.btn.btn Далее

