mixin footer()
	+b.FOOTER.footer
		+e.wrapper.container
			+e.logo-wrapper
				+e.IMG.logo(src='img/logo.svg' width='102')
			+e.contacts
				+e.A.phone(src='tel:88001234567') 8 800 123 45 67
				+e.A.callback.popup-with-form(href="#popup-callback") Заказать обратный звонок
