.catalog {
  margin-bottom: 117px;
  &__title {
    line-height: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 39px;
  }

  &__head-list{
    max-width: 246px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }

  &__head-item{
    font-family: AGAvalancheC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      color: $accent-color;
    }
    &.active{
      color: $accent-color;
      padding-bottom: 4px;
      border-bottom: 2px solid $accent-color;
    }
  }

  &__body-item{
    transition: .2s;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    &.active{
      opacity: 1;
      visibility: visible;
      transform: none;
      position: static;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 48%;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    text-align: center;
  }

  &__img-wrapper {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125px;
  }

  &__name {
    font-family: AGAvalancheC;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 160%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 9px;
    text-align: left;
  }

  &__more {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: AGAvalancheC;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 146%;
    text-transform: uppercase;
    color: $link-color;
    padding-bottom: 3px;
    border-bottom: 1px solid $link-color;
    margin-bottom: 10px;
    &:hover{
      text-decoration: none;
    }
  }

  &__btn {
    font-weight: bold;
    font-size: 10px;
    line-height: 146%;
    width: 100%;
    min-height: 37px;
    margin-top: 10px;
  }
  @include media-breakpoint-up(md){
    &__item{
      width: 32%;
    }
    &__name{
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 1.5;
    }
    &__btn{
      font-size: 12px;
    }
  }
  @include media-breakpoint-up(xl){
    margin-bottom: 60px;
    &__title{
      line-height: 62px;
      margin-bottom: 97px;
    }
    &__head-list{
      max-width: 426px;
      justify-content: space-around;
    }
    &__head-item{
      font-size: 24px;
      line-height: 30px;
    }
    &__list{
      padding-left: 0;
      padding-right: 0;
    }
    &__item{
      width: 387px;
      padding-top: 34px;
      padding-left: 33px;
      padding-right: 30px;
      padding-bottom: 42px;
      margin-bottom: 22px;
    }
    &__img{
      width: 230px;
    }
    &__img-wrapper{
      margin-bottom: 8px;
    }
    &__name{
      font-size: 18px;
      line-height: 160%;
      margin-bottom: 65px;
      min-height: 88px;
    }
    &__more{
      font-size: 16px;
      line-height: 146%;
      margin-bottom: 23px;
    }
    &__btn{
      margin-top: 23px;
      font-size: 16px;
      line-height: 146%;
    }
  }
}
