
mixin catalogItem(img, title, size, description, className)
	+e.item
		+e.img-wrapper
			+e.img(src='img/production/prod-' + img + '.png' alt='team-' + img  width='75px')
		+e.H5.name=  title
		+e.P.size=  size
		+e.A.more.popup-with-move-anim(href= '#' + className)  Подробнее
		+e.description(id= className class="zoom-anim-dialog mfp-hide")= description
		+e.A.btn.btn.popup-with-form(href='#popup-price') Узнать цену

mixin catalogItemNoSize(img, title, description, className)
	+e.item
		+e.img-wrapper
			+e.img(src='img/production/prod-' + img + '.png' alt='team-' + img  width='75px')
		+e.H5.name=  title
		+e.A.more.popup-with-move-anim(href= '#' + className)  Подробнее
		+e.description(id= className class="zoom-anim-dialog mfp-hide")= description
		+e.A.btn.btn.popup-with-form(href='#popup-price') Узнать цену

mixin catalog()
	+b.SECTION.catalog#catalog
		+e.H2.title
			span.select Каталог
			|  продукции GRAND PRIX
		+e.wrapper.container
			+e.head
				+e.head-list
					+e.head-item.active для кошек
					+e.head-item для собак
			+e.body
				+e.body-item.active
					+e.list

						+catalogItem('1', 'GRAND PRIX KITTEN корм для котят с лососем', 'В налиичии упаковки 300г и 1,5кг',  'Содержит все самое необходимое для здорового роста котенка. Богатый кальцием и фосфором — для укрепления костей и мышечной ткани, жирными кислотами — для улучшения работы мозга и повышения иммунитета, животными белками из рыбы и домашней птицы — для правильного развития малыша. ', 'KITTEN1')
						//+catalogItem('2', 'GRAND PRIX KITTEN корм для котят с лососем 1.5 кг', 'Содержит все самое необходимое для здорового роста котенка. Богатый кальцием и фосфором — для укрепления костей и мышечной ткани, жирными кислотами — для улучшения работы мозга и повышения иммунитета, животными белками из рыбы и домашней птицы — для правильного развития малыша. ', 'KITTEN2')
						+catalogItem('3', 'GRAND PRIX ORIGINAL корм для кошек с лососем', 'В налиичии упаковки 300г и 1,5кг', 'Сбалансированный сухой корм премиум класса для здоровой кожи и блестящей шерсти. Особое сочетание масла лососевых рыб и льняного семя — натуральных источников жирных кислот Омега-з и Омега -6, необходимых для полноценного питания вашего питомца.', 'ORIGINAL1')
						//+catalogItem('4', 'GRAND PRIX ORIGINAL корм для кошек с лососем 1.5 кг', 'Сбалансированный сухой корм премиум класса для здоровой кожи и блестящей шерсти. Особое сочетание масла лососевых рыб и льняного семя — натуральных источников жирных кислот Омега-з и Омега -6, необходимых для полноценного питания вашего питомца.', 'ORIGINAL2')
						+catalogItem('5', 'GRAND PRIX STERILIZED корм для стерилизованных кошек с кроликом', 'В налиичии упаковки 300г и 1,5кг', 'Полноценный рацион для кошек, прошедших стерилизацию. L- карнитин помогает поддерживать оптимальный вес, железо и витамины группы B — всегда оставаться активными, сбалансированный комплекс минералов предотвращает образование камней в почках.', 'STERILIZED1')
						//+catalogItem('6', 'GRAND PRIX STERILIZED корм для стерилизованных кошек с кроликом 1.5 кг', 'Полноценный рацион для кошек, прошедших стерилизацию. L- карнитин помогает поддерживать оптимальный вес, железо и витамины группы B — всегда оставаться активными, сбалансированный комплекс минералов предотвращает образование камней в почках.', 'STERILIZED2')
						+catalogItemNoSize('7', 'Консервированный полнорационный корм для кошек с форелью и фасолью 85 г', 'Нежные кусочки форели с фасолью в аппетитном соусе - не только деликатес, но и полезное сбалансированное питание для вашей кошки. Побалуйте вашего питомца разными вкусами из коллекции влажных и сухих кормов GRAND PRIX', 'FOREL')
						+catalogItemNoSize('8', 'Консервированный полнорационный корм для кошек с кроликом и кабачком 85 г', 'Нежные кусочки кролика с кабачком в аппетитном соусе - не только деликатес, но и полезное сбалансированное питание для вашей кошки. Побалуйте вашего питомца разными вкусами из коллекции влажных и сухих кормов GRAND PRIX', 'RABBIT')
						+catalogItemNoSize('9', 'Консервированный полнорационный корм для кошек с телятиной и тыквой 85 г', 'Нежные кусочки телятины и тыквы в аппетитном соусе - не только деликатес, но и полезное сбалансированное питание для вашей кошки. Побалуйте вашего питомца разными вкусами из коллекции влажных и сухих кормов GRAND PRIX', 'VEAL')

				+e.body-item
					+e.list
						+catalogItemNoSize('dog-1', 'Консервированное суфле с телятиной и овощами', 'Полнорационный влажный корм с мясом телятины, овощами, подсолнечным и льняным маслом. Оптимальное сочетание витаминов и минералов для здоровья кожи и шерсти, правильной работы мочевыделительной системы и поддержания естественного иммунитета у взрослых собак. ', 'dog1')
						+catalogItemNoSize('dog-2', 'Консервированные кусочки баранины с тыквой в соусе', 'Сбалансированный консервированный корм для поддержания хорошей физической формы. Способствует правильному развитию и сохранению мышечной массы собак. Благодаря особой технологии изготовления, в корме сохраняются все полезные витамины, макро- и микроэлементы.', 'dog2')
						+catalogItemNoSize('dog-3', 'Консервированные кусочки кролика с морковью в соусе', 'Влажный рацион отличается пониженным содержанием калорий, что способствует поддержанию оптимального веса вашего питомца. Тщательно отобранные ингредиенты обеспечивают сбалансированное питание насыщенное высококачественными животными белками.', 'dog3')
						+catalogItem('dog-4', 'GRAND PRIX Small Adult корм для собак мелких пород', 'В налиичии упаковки 800г и 2,5кг', 'Сбалансированный сухой рацион для взрослых собак мелких и мини пород GRAND PRIX Small Adult  насыщен белками и жирными Омега-кислотами для правильного развития питомце. Полнорационный корм SMALL ADULT поддерживает иммунитет и укрепляет здоровье взрослых собак весом до 10 кг. На выбор два вкуса GRAND PRIX SMALL: классический с курицей и LAMB and RICE с ягненком.', 'dog4')
						+catalogItem('dog-5', 'GRAND PRIX Small Junior корм для щенков собак мелких и мини пород', 'В налиичии упаковки 800г и 2,5кг', 'Сбалансированный сухой рацион для щенков SMALL JUNIOR насыщен белками и жирными Омега-кислотами для правильного развития питомце. Полнорационный корм SMALL ADULT поддерживает иммунитет и укрепляет здоровье взрослых собак весом до 10 кг. На выбор два вкуса GRAND PRIX SMALL: классический с курицей и LAMB and RICE с ягненком.', 'dog5')
						+catalogItem('dog-6', 'GRAND PRIX Small Adult LAMB Ягненок и Рис корм для собак мелких пород', 'В налиичии упаковки 800г и 2,5кг', 'Сбалансированный сухой рацион для щенков SMALL JUNIOR насыщен белками и жирными Омега-кислотами для правильного развития питомце. Полнорационный корм SMALL ADULT поддерживает иммунитет и укрепляет здоровье взрослых собак весом до 10 кг. На выбор два вкуса GRAND PRIX SMALL: классический с курицей и LAMB and RICE с ягненком.', 'dog5')
						+catalogItem('dog-7', 'GRAND PRIX MEDIUM для собак средних пород', 'В налиичии упаковки 800г и 2,5кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog7')
						+catalogItem('dog-8', 'GRAND PRIX MEDIUM для собак средних пород', 'В налиичии упаковки 800г и 2,5кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog7')
						+catalogItem('dog-9', 'GRAND PRIX Medium Adult корм для собак средних пород', 'В налиичии упаковки 2.5кг и 12кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog9')
						+catalogItem('dog-10', 'GRAND PRIX Medium Junior корм для щенков собак средних пород', 'В налиичии упаковки 2,5кг и 12кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog10')
						+catalogItem('dog-11', 'GRAND PRIX Medium Adult LAMB Ягненок и Рис корм для собак средних пород', 'В налиичии упаковки 2,5кг и 12кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog11')
						+catalogItem('dog-12', 'GRAND PRIX Medium Junior LAMB Ягненок и Рис корм для щенков собак средних пород', 'В налиичии упаковки 2,5кг и 12кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog12')

						+catalogItem('dog-13', 'Grand Prix Large Junior корм для щенков собак крупных пород', 'В налиичии упаковки 2,5кг и 12кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog13')
						+catalogItem('dog-14', 'Grand Prix Large Adult корм для собак крупных пород ', 'В налиичии упаковки 2,5кг и 12кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog14')
						+catalogItem('dog-15', 'Grand Prix Large Adult LAMB Ягненок и Рис корм для собак крупных пород', 'В налиичии упаковки 2,5кг и 12кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog15')
						+catalogItem('dog-16', 'Grand Prix Large Junior LAMB Ягненок и Рис корм для щенков собак крупных пород', 'В налиичии упаковки 2,5кг и 12кг', 'Корм премиум класса MEDIUM JUNIOR — комплексное сухое питание для щенков средних пород. MEDIUM ADULT — сбалансированный рацион для взрослых собак весом от 11 до 25 кг. Содержит оптимальное количество витаминов, минералов и питательных элементов для здоровья и правильного развития ваших питомцев.', 'dog16')



