mixin catalogItem(img, title)
	+e.item
		+e.img-wrapper
			+e.img(src='img/production/prod-' + img + '.png' alt='team-' + img  width='75px')
		+e.H5.name=  title
		+e.A.more(href='#')  Подробнее
		+e.BUTTON.btn.btn Узнать цену

mixin catalog()
	+b.SECTION.catalog
		+e.H2.title
			span.select Каталог
			|  продукции GRAND PRIX
		+e.wrapper
			+e.head
				+e.head-list
					+e.head-item для кошек
					+e.head-item для собак
			+e.body
				+e.body-item
					+e.list

						+catalogItem('1', 'GRAND PRIX KITTEN корм для котят с лососем 300 г')
						+catalogItem('2', 'GRAND PRIX KITTEN корм для котят с лососем 1.5 кг')
						+catalogItem('3', 'GRAND PRIX ORIGINAL корм для кошек с лососем 300 г')
						+catalogItem('4', 'GRAND PRIX ORIGINAL корм для кошек с лососем 1.5 кг')
						+catalogItem('5', 'GRAND PRIX STERILIZED корм для стерилизованных кошек с кроликом 300 г')
						+catalogItem('6', 'GRAND PRIX STERILIZED корм для стерилизованных кошек с кроликом 1.5 кг')

				+e.body-item
					+e.list
						+catalogItem('1', 'GRAND PRIX KITTEN2 корм для котят с лососем 300 г')
						+catalogItem('2', 'GRAND PRIX KITTEN2 корм для котят с лососем 1.5 кг')
						+catalogItem('3', 'GRAND PRIX ORIGINAL2 корм для кошек с лососем 300 г')
						+catalogItem('4', 'GRAND PRIX ORIGINAL2 корм для кошек с лососем 1.5 кг')
						+catalogItem('5', 'GRAND PRIX STERILIZED2 корм для стерилизованных кошек с кроликом 300 г')
						+catalogItem('6', 'GRAND PRIX STERILIZED2 корм для стерилизованных кошек с кроликом 1.5 кг')

