mixin advantages()
	+b.SECTION.advantages#advantages
		+e.wrapper.container
			+e.H2.title Почему Вам стоит стать нашим официальным партнером
				span.select  уже сегодня
			+e.list
				mixin item(namber, text)
					+e.item
						+e.item-number= namber
						+e.P.item-text= text
				+item("01", 'Мы производим сбалансированный полнорационный корм для собак и кошек, который не содержит в составе пшеницу, глютен, красители и ароматизаторы, которые могут вызывать аллергию у животных.')
				+item('02', 'Наше производство полностью находится на территории РФ, что позволяет избежать перебоев поставок из-за санкций. Мы постоянно наращиваем объемы производства. У Вас всегда будет ассортимент на полках магазина.')
				+item('03', 'Разработали уникальную упаковку, которая вызывает интерес у покупателей. Активно развиваем розничную торговлю и репутацию бренда с помощью современных инструментов маркетинга, продукт продает сам себя.')
				+item('04', 'Производим продукт, у которого складывается репутация “супер-премиум”, при этом наша цена гораздо ниже конкурентов.')
				+item('05', 'С нами зарабатывают уже 163 партнера по всей России. Присоединяйтесь и Вы.')
				+item('06', 'Мы сотрудничаем с заводчиками и питомниками, предоставляем особые условия.')
			+b.form--advantages
				+e.H4.title Заполните форму, получите
					span.select  оптовый прайс-лист
					|  и станьте нашим партнером
					span.select  уже сегодня
				form(action="send1.php" method="post")
					+e.wrapper
						+e.item
							+e.LABEL.label(for='mailAdvantages')
								+icon('mail')
							+e.INPUT.input(type='email' name='email' required placeholder='Введите Ваш e-mail' id='mailAdvantages')
						+e.item
							+e.LABEL.label--phone(for='phoneAdvantages')
								+icon('phone')
							+e.INPUT.input(type='tel' name='phone' required id='phoneAdvantages')
						+e.BUTTON.btn.btn Получить прайс
						+e.P.agreement Нажимая на кнопку, Вы соглашаетесь с условиями политики конфиденциальности
