* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #121212;
  color: white;
  font-family: AGAvalancheC;
}

.container {
  padding-left: 14px;
  padding-right: 14px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.select {
  color: #FFD45A;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: AGAvalancheC;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 30px;
  text-align: center;
  @include media-breakpoint-up(md) {
    font-size: 34px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 50px;
    line-height: 150%;
  }
}

h4 {
  font-family: AGAvalancheC;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  @include media-breakpoint-up(xl){
    font-size: 34px;
    line-height: 130%;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  border-radius: 12px;
  font-family: AGAvalancheC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 146%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  background: #C46A00;
  box-shadow: 0px 10px 50px rgba(255, 193, 48, 0.5);
  transition: .1s;


  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: calc(100% - 2px);
    bottom: 0;
    transform: translateY(-2px);
    left: 0;
    background: linear-gradient(180deg, #FFE887 0%, #FFBB22 100%);
    z-index: -1;
    border-radius: 12px;
  }

  &:hover {
    outline: none;
    background: linear-gradient(180deg, #FFE887 0%, #FFBB22 100%);
    box-shadow: none;

    &:before {
      opacity: 0;
    }
  }

  &:active {
    outline: none;
    background: #FFE291;
    box-shadow: none;

    &:before {
      opacity: 0;
    }
  }

  &:focus {
    outline: none;
  }

  @include media-breakpoint-up(md) {
    height: 50px;
  }
  @include media-breakpoint-up(xl) {
    height: 68px;
    font-size: 16px;
    line-height: 146%;
  }
}

.form {
  &__title {
    font-family: AGAvalancheC;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 36px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
  }

  &__label {
    height: 68px;
    min-width: 72px;
    width: 20%;
    background-color: white;
    margin-bottom: 0;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--phone {
      background: linear-gradient(180deg, #FFE887 0%, #FFBB22 100%);
      box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
    }

    .icon-mail {
      width: 17px;
      height: 13px;
    }

    .icon-phone {
      width: 11px;
      height: 20px;
    }
  }

  &__input {
    outline: none;

    max-width: 100%;
    width: 100%;
    display: inline-flex;
    display: flex;
    align-items: center;
    height: 68px;
    border: none;
    border-radius: 0px 12px 12px 0px;
    background-color: #EDEDED;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 1;

    &::placeholder {
      color: #000000;
      opacity: .5;
      font-size: 16px;
    }
  }

  &__btn {
    font-family: AGAvalancheC;
    width: 100%;
    margin-bottom: 30px;
  }

  &__agreement {
    font-family: AGAvalancheC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
  }

  @include media-breakpoint-up(md) {
    &__wrapper {
      justify-content: space-between;
    }
    &__item {
      width: 30%;
      margin: 0;
    }
    &__input {
      font-size: 13px;
      height: 50px;
      line-height: 1;

      &::placeholder {
        font-size: 13px;
      }
    }
    &__label {
      min-width: 50px;
      height: 50px;
      line-height: 1;
    }
    &__btn {
      width: 30%;
      margin: 0;
    }
    &__agreement {
      margin-top: 35px;
      width: 100%;
      text-align: center;
      font-size: 12px;
      line-height: 14px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__title {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 33px;
    }
    &__input {
      font-size: 16px;
      line-height: 146%;
      height: 68px;
      &::placeholder{
        font-size: 16px;
        line-height: 65px;
        position: absolute;
      }
    }
    &__label {
      height: 68px;
    }
    &__item {
      width: 384px;
    }
    &__btn {
      width: 384px;
      height: 68px;
      font-size: 16px;
      line-height: 146%;
    }
  }
}

.slick-dots li button::before {
  content: '';
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 1;
}

.slick-dots li.slick-active button::before {
  background-color: white;
  opacity: 1;
}

.slider__btn-prev,
.slider__btn-next{
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(255, 212, 90, 0.5);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  z-index: 2;
  top: 50%;
  &:hover{
    outline: none;
    background-color: #FFD45A;
    box-shadow: none;
  }
  &:active{
    background-color: #FFE290;
    box-shadow: none;
    outline: none;
  }
  &:focus{
    outline: none;
  }
  .icon{
    width: 5px;
    height: 10px;
    fill: white;
  }
  &--team{
    top: 35%;
  }
}

.slider__btn-prev{
  left: 0;
  transform: translate(-100%, -50%);
}

.slider__btn-next{
  right: 0;
  transform: translate(100%, -50%);
}

@include media-breakpoint-up(md) {
  .container {
    max-width: 768px;
  }
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .slick-dots{
    bottom: -88px;
  }
}

