$default-font: 'AGAvalancheC', sans-serif;
$text-color: #ffffff;
$accent-color: #FFD45A;
$hover-color: #FFD45A;
$active-color: #FFE290;
$link-color: #3183FF;;
$link-hover-color: #0053CF;
$link-active-color: #7AAFFF;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$default-font-size: 14;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1260px, xxl: 1600px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

