mixin test()
	+b.SECTION.test
		+e.wrapper
			+e.content
				+e.H4.title Пройдите
					span.select  простой тест
					|  и получите персональное предложение
				+e.A.btn.btn.popup-with-form(href='#popup-quiz') Пройти тест
			+e.img-wrapper
				+e.img(src="img/test-dog.png")
